*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.banner{ background-image:
url(https://res.cloudinary.com/oluwafunmilola/image/upload/v1567531153/bgimg1_hoxpt7.jpg);
background-size: cover; 
min-height: 500px;  
background-position: right bottom;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
}

body{
	font-family: sans-serif;
	 
}

}
#main-header{
	background: aqua;
	padding: 5px, 15px;
}
h1{
	text-align: left;
	font-family: "Playfair Display"
	font-style: italic;
}
h1, h2, h4, h5, h6{
	color: white;
}
.image{
	size: cover;
	height: 3000px;
	position: right;
	width: 3000px;
}
h3{
	color: rgba(green);
}
div .id h3{
	font-size: 30px
	font-family: sans-serif;
	font-weight: 600;
}
table{
	border-collapse: collapse;
}
table, th, td{
	border-style: dotted;
	border-radius: 40px;
	border: 2px solid black;
	color: red; 
}
